h1 {
	color: #ABCFD9;
	position:absolute;
}
h1:hover{
	margin-left:100px;
}
div#mw-head{
	opacity:
}
body {
	margin: 20px;
	background-color:#AED8E6;
	font-family: georgia, serif;
}
a:link{
	color:#EDCB80;
}
a:visited{
	color:#EDA180;
}
div#content.mw-body{
	font-family: verdana, sans-serif;
	font-style: normal;
	background-color:rgba(255, 255, 255, 0.74);
}
img{
	opacity: .5;
}
img:hover{
	opacity: 1;
}
