@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans|Cookie|Dosis:300|Karma:500|Neuton';

html {
	background: url(../images/gray-bg.jpg)no-repeat center fixed;
	background-size:cover;
	overflow-y: scroll;
}
body {
	background-color: #FFF;
	opacity:.65;
	color: #000;
	margin: 0 auto;
	width: 720px;
	font-size: 14pt;
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 1.4em;
}
header {
	background-color: #000;
	color: white;
	padding: 10px;
	font-family:'Karma', sans-serif;
	font-size: 30px;
	font-style: italic;
	letter-spacing: .2em;
}
nav {
	background-color: #FFF;
	padding: 10px 20px;
	font-size: 14px;
	font-family: 'Karma', serif;
	text-align: center;
	font-weight: bold;
}
nav ul {
	margin:0;
	padding: 0;
	list-style-type: none;
	
}
nav li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}
nav a {
	text-decoration: none;
	color: #000;
}
main {
	margin-left: 20px;
	margin-right: 20px;
}
main h1 {
	font-size: 1.8em;
	font-family: 'Neuton', serif;
}
footer {
	color: #A9A9A9;
	padding: 5px;
	font-family: 'Neuton', serif;
	text-align: center;
	font-size: .9em;
}