body{
	background-color: #CED6D9;
}
div.logos{
	text-align: center;
}
ul{
	list-style-type: none;
	position:fixed;
}
li a {
	display:block;
	width: 20px;
	height:100px;
}
#creature1{
	margin:0 auto;
	display:block;
}

#design{
	display:block;
	margin:0 auto;
}

#fish{
	display:block;
	margin:0 auto;

}

#place{
	display:block;
	margin:0 auto;

}

#note{
	display:block;
	margin:0 auto;
}

#ppl{
	display:block;
	margin:0 auto;
}
